* {
  margin: 0;
  padding: 0;
  background: #161a1d;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.left-side {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: center;
  text-align: left;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}

.animate {
  animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
  transform: translateY(-100px);
  opacity: 0;
}

h1 {
  color: #cbf3f0;
  font-weight: bold;
  letter-spacing: 8px;
}

h2 {
  color: #cbf3f0;
  font-weight: bold;
}

p {
  color: #cbf3f0;
  font-weight: bold;
}

nav ul {
  margin-top: 64px;
  list-style: none;
}

nav ul li {
  margin: 32px 0;
  animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
  transform: translateY(-100px);
  opacity: 0;
}

@keyframes fade-down {
  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav ul li a {
  display: inline-flex;
  align-items: center;
  color: #cbf3f0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

nav ul li a div {
  margin-right: 16px;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 4px;
  background: linear-gradient(
    90deg,
    rgba(173, 14, 14, 1) 23%,
    rgba(193, 123, 43, 1) 56%,
    rgba(252, 181, 23, 1) 92%
  );
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: all 500ms;
}

nav ul li a:hover::after {
  width: 100%;
}

.horizontal-line {
  height: 1px;
  width: 3rem;
  background-color: #cbf3f0;
}
.cursor-inner {
  position: fixed;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 1000ms, height 1000ms;
  background: rgb(173, 14, 14);
  background: linear-gradient(
    90deg,
    rgba(173, 14, 14, 1) 23%,
    rgba(193, 123, 43, 1) 56%,
    rgba(252, 181, 23, 1) 92%
  );
  opacity: 0.1;
}

.cursor-middle {
  position: fixed;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 1000ms, height 1000ms;
  background: rgb(173, 14, 14);
  background: linear-gradient(
    90deg,
    rgba(173, 14, 14, 1) 23%,
    rgba(193, 123, 43, 1) 56%,
    rgba(252, 181, 23, 1) 92%
  );
  opacity: 0.06;
}

.cursor-outter {
  position: fixed;
  width: 512px;
  height: 512px;
  border-radius: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 1000ms, height 1000ms;
  background: rgb(173, 14, 14);
  background: linear-gradient(
    90deg,
    rgba(173, 14, 14, 1) 23%,
    rgba(193, 123, 43, 1) 56%,
    rgba(252, 181, 23, 1) 92%
  );
  opacity: 0.02;
}


.icons-group {
  display: flex;
  direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 256px;
  margin-bottom: 64px;
}

.icons-group img {
  margin-right: 8px;
  height: 64px;
  width: 64px;
}

.icons-group img:hover {
  transform: scale(1.5); /* Adjust the scale value to your desired size */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}


.icons-by {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 16px;
  margin-bottom: 8px;
  font-size: 12px;
  color: #cbf3f0;
}

.icons-by a {
  text-decoration: none;
  color: #cbf3f0;
}
