* {
  margin: 0;
  padding: 0;
  background: #161a1d;
}

/* MAIN CLASSES */

.animate {
  animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
  transform: translateY(-100px);
  opacity: 0;
}

h1 {
  color: #cbf3f0;
  font-weight: bold;
  letter-spacing: 8px;
}

h2 {
  color: #cbf3f0;
  font-weight: bold;
}

h3 {
  color: #cbf3f0;
  font-weight: bold;
}

h3 a {
  display: inline-block;
  text-decoration: none;
  color: #cbf3f0;
  font-weight: bold;
  transition: transform 0.3s ease;
}

h3 a:hover {
  transform: scale(1.2);
}

h4 {
  color: #cbf3f0;
  font-weight: bold;
}

p {
  color: #cbf3f0;
  font-weight: bold;
}

@keyframes fade-down {
  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

/* LEFT SIDE CLASSES */

.left-side {
  display: flex;
  flex-direction: column;
  gap: 256px;
  flex-basis: 50%;
  position: fixed;
  top: 0;
  padding: 6rem;
  overflow: hidden;
}

.left-side-footer {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

nav ul {
  margin-top: 64px;
  list-style: none;
}

nav ul li {
  margin: 32px 0;
  animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
  transform: translateY(-100px);
  opacity: 0;
}

nav ul li a {
  display: inline-flex;
  align-items: center;
  color: #cbf3f0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

nav ul li a div {
  margin-right: 16px;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 4px;
  background: linear-gradient(
    90deg,
    rgba(173, 14, 14, 1) 23%,
    rgba(193, 123, 43, 1) 56%,
    rgba(252, 181, 23, 1) 92%
  );
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: all 500ms;
}

nav ul li a:hover::after {
  width: 100%;
}

.horizontal-line {
  height: 1px;
  width: 3rem;
  background-color: #cbf3f0;
}

.icons-group {
  display: flex;
  direction: column;
}

.icons-group img {
  margin-right: 8px;
  height: 64px;
  width: 64px;
}

.icons-group img:hover {
  transform: scale(1.5); /* Adjust the scale value to your desired size */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.icons-by {
  font-size: 12px;
  color: #cbf3f0;
}

.icons-by a {
  text-decoration: none;
  color: #cbf3f0;
}

/* RIGHT SIDE CLASSES */

.right-side {
  flex-basis: 50%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap:128px;
  padding: 6rem;  
  margin-left: 50%; 
}

.experience-card-container {
  display: flex;
  flex-direction: row;
}

.experience-card-year {
  min-width: 128px;
}

.experience-card-content {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
}
.chip {
  display: inline-block;
  padding: 0 15px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  border-radius: 25px;
  background: #cbf3f0;
}

.chip p {
  color: #161a1d;
  font-weight: bold;
  background: #cbf3f0;
}

/* OUTSIDE CLASSES */

.cursor-inner {
  position: fixed;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 1000ms, height 1000ms;
  background: rgb(173, 14, 14);
  background: linear-gradient(
    90deg,
    rgba(173, 14, 14, 1) 23%,
    rgba(193, 123, 43, 1) 56%,
    rgba(252, 181, 23, 1) 92%
  );
  opacity: 0.1;
}

.cursor-middle {
  position: fixed;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 1000ms, height 1000ms;
  background: rgb(173, 14, 14);
  background: linear-gradient(
    90deg,
    rgba(173, 14, 14, 1) 23%,
    rgba(193, 123, 43, 1) 56%,
    rgba(252, 181, 23, 1) 92%
  );
  opacity: 0.06;
}

.cursor-outter {
  position: fixed;
  width: 512px;
  height: 512px;
  border-radius: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 1000ms, height 1000ms;
  background: rgb(173, 14, 14);
  background: linear-gradient(
    90deg,
    rgba(173, 14, 14, 1) 23%,
    rgba(193, 123, 43, 1) 56%,
    rgba(252, 181, 23, 1) 92%
  );
  opacity: 0.02;
}
